@media screen and (max-width: 767px) {


  * {
  }

  body {
  }

  .Wrapper {
  }


  /*******************************************************
  ************************ HEADER ************************
  *******************************************************/


  header {
    flex-direction: column;
    justify-content: unset;
    height: auto;
    margin: 20px 0;
  }

  .logoBox {
  }

  .logoBox img {
    padding-left: 0;
  }

  .topMenu {
    height: 50px;
    width: 100%;
  }

  .navItem {
    width: 50%;
    border-top: unset;
    border-bottom: solid #fff 2px;
  }

  .navItem:hover {
    border-top: unset;
    border-bottom: solid #0065FC 2px;
    color: #0065FC;
  }


  /*******************************************************
  ************************* MAIN *************************
  *******************************************************/


  .emphasized {
  }

  .blue {
  }


  /*******************************************************
  ************************* Section1 *********************
  *******************************************************/


  .section1 {
    padding: 0 20px;
  }

  .slogan {
  }

  .searchBar {
  }

  .iconMap {
  }

  .searchBar input {
  }

  .searchBar button {
  }

  .searchButton {
    display: none;
  }

  .searchButtonLoupe {
    display: flex;
  }

  .filters {
    flex-direction: column;
    align-items: start;
  }

  .filterBox {
  }

  .filterTitle {
    width: 100%;
  }

  .filter {
    width: 48%;
  }

  .filter .blue {
  }

  .filter:hover {
  }

  .info {
  }

  .info .blue {
  }


  /*******************************************************
  ************************* section 2 ********************
  *******************************************************/


  .section2 {
    flex-direction: column-reverse;
    gap: unset;
    padding: 0;
  }

  #accommodation {
    background-color: unset;
    border-radius: unset;
    width: auto;
    padding: 20px;
  }

  .Accommodations {
    flex-direction: column;
  }

  .AccCard {
    width: auto;
  }

  .AccPicBox {}

  .AccPicBox img {}

  .AccCaption {}

  #popular {
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: unset;
    padding: 20px;
  }

  .inlineTitle {}

  .Populars {
    flex-direction: column;
    justify-content: space-between;
  }

  .PopCard {
    width: auto;
  }

  .PopPicBox {}

  .PopPicBox img {}

  .PopCaption {}

  .popText{}

  .rating {}

  .seeMore {
    display: none;
  }

  .fa-star {}

  .active {}


  /*******************************************************
  ************************* section 3 ********************
  *******************************************************/


  .section3 {
    padding: 0 20px;
    margin-bottom: 80px;
  }

  #Activities {
    flex-direction: column;
    gap: 20px;
  }

  .ActivityCard {
    width: auto;
    height: 200px;
  }

  .ActivityPicBox {
    height: 75%;
  }

  .ActivityPicBox img {
  }

  .ActivityCaption {
    height: 25%;
  }

  /*******************************************************
  ************************ FOOTER ************************
  *******************************************************/
  footer {
    flex-direction: column;
    padding: 40px 30px;
    margin: 0;
    gap: 40px;
  }

  .tab {
  }

  .tabContent {
  }

  .tabContent p {
  }

}