@media screen and (min-width: 768px) and (max-width: 991px){


  /*******************************************************
  ************************* section 2 ********************
  *******************************************************/


  .section2 {
    flex-direction: column;
    gap: 50px;
  }

  #accommodation {
    width: auto;
  }

  #popular {
    width: auto;
    flex-direction: row;
  }

  .Populars {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }

  .PopCard {
    width: 30%;
  }


  /*******************************************************
  ************************* section 3 ********************
  *******************************************************/

  .ActivityCard {
    height: 250px;
  }

  .ActivityPicBox {
    height: 75%;
  }

  .ActivityCaption {
    height: 25%;
    padding: 0 10px;
  }

  /*******************************************************
  ************************ FOOTER ************************
  *******************************************************/

  footer {
    padding: 30px 50px;
  }
}